<h1>All of our Pizzas</h1>
<div class="row">
  <% @pizzas.each do |pizza| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="<%= pizza.image %>">
        <h3><%= pizza.name %></h3>
        <h3><%= pizza.cost %></h3>
      </div>
    </div>
  <% end %>
</div>

<br>

<%= link_to "New Pizza", new_pizza_path, class: "btn btn-primary" %>